h1{
    color: blue;
    font-size: 15px;
}
p{
    font-size:9px;
}
.test{
    background-color: gray;
}

#header{
    font-size: 30px;
}
.black, .red , .green{
    font-size: 30px;
    font-weight: bold;
}

.black{
    color:black;
}
.red{
    color:red;
}
.green{
    color:green;
}